/* Variables */
$text-color = #2d2d34
$font-family-header = 'Comfortaa', sans-serif
$font-family = 'Vera Serif', sans-serif
$border-radius = 0px
$gap = 1rem
$gap-page = $gap * 2
$comics-card-width = 600px
$comics-card-height = 400px

$threshold-mobile = 400px

/* Classes */
.link
  cursor pointer
